.main-nav{
    display: flex;
    margin: 0px;
    background-color: #C996A5;
    height: 60px;
    align-items: center;
    padding-left: 50px;
}
.main-nav:hover{
    background-color: grey;
}

.nav-item, .nav-item:hover{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-bar{
    display: flex;
    width : 100% ;
}
.left-nav{
    flex : 6;
    margin-top: 6px;
}
.left-nav>a{
    margin-left: 40px;
}

.right-nav{
    flex : 2 ;
}
.site-logo{
    margin: 0px 15px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.nav-button{
    margin: 0px 30px;
}
.cart-box{
    display: flex;
    justify-content: center;
}
.cart{    
}
.icon-growth{
    color: rgb(62, 169, 245);
    height: 55px;
    width: 55px;
    margin-top: 
}
.icon-laptop{
    color: rgb(231, 184, 199);
    height: 55px;
    width: 55px;
}
.icon-book{
    color: rgb(254, 210, 74);
    height: 55px;
    width: 55px;
}
.icon-book,.icon-laptop,.icon-growth{
    margin-bottom: 15px;
}
.main{
    height: 550px;
    background-color: #C996A5;
    display : flex;
}
.cart-hosting{
    background-color: rgb(254, 210, 74);
    padding: 20px 50px;
}
.cart-soapbox{
    background-color:  rgb(81, 194, 159);
    padding: 20px 50px;
}
.cart-videoskills{
    background-color: rgb(62, 169, 245);
    padding: 20px 50px;
}

.description{
    font-size:20px;
}
.right-nav>button{
    margin-right :10px;
    font-size: 14px;
    height: 40px;
    width: 120px;
    font-weight: 500;
}
.main-left {
    margin-left:20%;
    margin-right: 20%;
    margin-top: 25%;
}
.text{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 40px;
}
.main-right{
    display: flex;
    align-items : center ;
    justify-content : space-around;
}
.link-to-video{
    font-size: 20px !important;
    height: 60px;
    width: 200px;
    font-weight: 600;
}
h4{
    font-weight: 500;
}
.cart-title{
    font-size: 24px
}
a{
    color: black;
    text-decoration: none;
}
.cart-hosting-container{
    padding: 20px 0px;
}
.businesses{
    display: flex;
    align-items : center ;
    justify-content : space-around;
    height: 400px;
    margin: 0px 80px;
}
.img-1 img{
    height: 50px;
}
.img-2 img{
    height: 90px;
}
.img-3 img{
    height: 80px;
}
.businesses-desc>p{
    padding: 5px 15px;
    font-size: 18px;
}
.infos{
    display: flex;
    justify-content : space-around;
    margin-bottom: 50px;
}
.info-cart{
    justify-content : space-around;
}
.info-desc{
    padding-right: 160px;
}
h5{
    font-weight: 700 !important;
    margin: 15px 0px !important;
}
.footer{
    display: flex;
    height: 450px;
    background-color: #2A2D35;
    color: azure;
}
.terms{
    height: 60px;
    background-color: #EFEFEF;
    display: flex;
    justify-content : center ;
    align-items : center ;
    font-size: 21px;
}
hr{ 
    color: white;  
}
.footer-social{
}
.desc{
    font-size: 30px;
    padding: 100px 35px 0px;
}
.slash{
    margin-top: 80px;
}
.social-media{
    font-size: 16px;
    padding:  0px 35px;
}   
.list-social-media{
    color : #56BE8E;
}
ul{
    list-style: none;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
}
.footer-box{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 113px;
}
.footer-box-title{
    color: #9CA8B7;
}
li{
    margin-top: 5px;
}
.footer-link:hover{
    font-weight: bold ;
    color: white;
    cursor: pointer ;
}
.cart-title:hover  ~ .description {
    color: #fff;
}  
.button-text{
    color: black;
}